<div id="searchBoxStyleDiv" style="">
    <div id="searchBoxesWrapper">
        <form name="limitForm" class="searchBoxSection" onsubmit="javascript:return Tapestry.waitForPage(event);" action="/client/en_US/mvlc/index.template.header.searchbox_0.form?" method="post" id="form">
            <div class="" style="display: none;">
                <input value="sDuy2sVbEq9g4pcTev3yTYFrDZ4=:H4sIAAAAAAAAAKWOsUrEQBCGx4OrrlP0CbTdszAoZ3VwCEIQMWgrk90xWdlk19nJJTY+ik8gvsQVdr6DD2BrZWHuFCxFrhvmh+/7nt5h2B5Cclob6iZCVXAopEpCQ6wiIesy9931/s/tbGXFsA/Gt3VkSDwXCgPqkpRgoCh8nyjtmZzNVY6R1DTvn6jlxJIzuxlJE/YuF6O37ZfPAWykMNK+FvbuDCsS2ExvcY5jh3UxzoRtXRx3QWDrW58u9bNeP+v163RP/9t9zl5TjFmTVzZG6+vFszm4+Xh8HQB0oZ3A0d8p7H0VeemyWnrEHF3TM+/gAUBgZzVf/M5Xq3kd9JI8/AKTQdGT4wEAAA==" name="t:formdata" type="hidden">
            </div>
            <label for="searchLimitDropDown" class="hidden">Search Limit</label>
            <select title="Select Search Limit" tabindex="8" class="dropDown searchLimitDropDown" onchange="javascript:sboxRstManager.onChange()" id="searchLimitDropDown" name="searchLimitDropDown">
            <option value="">Everything</option>
            <optgroup label="----------">
                <option value="TILS:DIRECT">Books &amp; More</option>
                <option value="TERC_ST_MVLC:DIRECT">OverDrive Digital Library</option>
            </optgroup>
            <optgroup label="----------">
                <option value="BAUD_ADULT">General adult (all formats)</option>
                <option value="BAUD_TEEN">Teen (all formats)</option>
                <option value="BAUD_CHILD">Children’s (all formats)</option>
                <option value="BFORMAT_AUDIOBK">Audiobooks</option>
                <option value="BFORMAT_BOOK">Books</option>
                <option value="BFORMAT_MUSIC">CD Music</option>
                <option value="BFORMAT_LARGEPRINT">Large print</option>
                <option value="BFORMAT_PERIODICAL">Magazines and newspapers</option>
                <option value="BFORMAT_VIDEO">Movies &amp; TV</option>
                <option value="BFORMAT_PLAYAWAY">Playaways</option>
                <option value="BSAFARIBOOKS">Safari Books Online</option>
                <option value="BFORMAT_VIDEOGAME">Video games</option>
            </optgroup>
            </select>
            <img id="searchLimitDropDown_icon" class="t-error-icon" alt="" src="/client/assets/4.5.1/core/spacer.gif" style="display: none;">
                <label for="roomsRestrictionValues" class="hidden">Rooms Restriction Values</label>
                <select aria-hidden="true" class="hidden" id="roomsRestrictionValues" name="roomsRestrictionValues">
                    <option value="">Keyword</option>
                    <option value="false|||AUTHOR|||Author">Author</option>
                    <option value="false|||TITLE|||Title">Title</option>
                    <option value="false|||SUBJECT|||Subject">Subject</option>
                    <option value="false|||SERIES|||Series">Series</option>
                    <option value="false|||ISBN|||ISBN">ISBN</option>
                    <option value="false|||CONTENTS|||Contents">Contents</option>
                    <option value="true|||AUTHOR|||Author">Author Browse</option>
                    <option value="true|||SUBJECT|||Subject">Subject Browse</option>
                </select>
            <img id="roomsRestrictionValues_icon" class="t-error-icon" alt="" src="/client/assets/4.5.1/core/spacer.gif" style="display: none;">
        </form>
        <div class="hidden" id="rTabIndex">9</div>
        <div class="searchBoxSection t-zone" id="restrictionZone">
            <form name="selectForm" onsubmit="javascript:return Tapestry.waitForPage(event);" action="/client/en_US/mvlc/index.template.header.searchbox_0.form_0?" method="post" id="form_0"><div class="" style="display: none;">
                <input value="VBlREmy4h3fVJ+JTonaQ/U+OQnU=:H4sIAAAAAAAAAKXOMUoEQRAF0HLBaDPFG2jaa+AguNHCIgiLCIOxVHeXM730dDXVte54GU8gXmIDM+/gAUyNDGwzUzH9fP77zx+wvz2H5ip5Gi+UhhxRyfSEnsQUQnG95fHu1AgVleA0cPLC2fM2FYGGpTOY0fVkFPNP57ExjoVisMZiIbOwNUSnl4GiP25JN/nkdjd9P3r9msDeCqaOkwrHaxxI4WC1xgecRUzdrK1g6uZjVjj8xS8rv6z8f34v/vr7RthRKe3GDqGUOrZ78Wf3n09vE4AxfwPcO0Z9RwEAAA==" name="t:formdata" type="hidden">
            </div>
                <label for="restrictionDropDown" class="hidden">Search Field</label>
                <select title="Select Search Field" class="dropDown restrictionDropDown" onchange="javascript:sboxRstManager.onRestrictionChange(this.value);" id="restrictionDropDown" name="restrictionDropDown" tabindex="9">
                    <option value="">Keyword</option>
                    <option value="false|||AUTHOR|||Author">Author</option>
                    <option value="false|||TITLE|||Title">Title</option>
                    <option value="false|||SUBJECT|||Subject">Subject</option>
                    <option value="false|||SERIES|||Series">Series</option>
                    <option value="false|||ISBN|||ISBN">ISBN</option>
                    <option value="false|||CONTENTS|||Contents">Contents</option>
                    <option value="true|||AUTHOR|||Author">Author Browse</option>
                    <option value="true|||SUBJECT|||Subject">Subject Browse</option>
                </select>
                <img id="restrictionDropDown_icon" class="t-error-icon" alt="" src="/client/assets/4.5.1/core/spacer.gif" style="display: none;">
            </form>
        </div>
        <form name="searchForm" class="searchBoxSection" onsubmit="javascript:return Tapestry.waitForPage(event);" action="/client/en_US/mvlc/index.template.header.searchbox_0.searchform?" method="post" id="searchForm"><div class="" style="display: none;">
            <input value="0jd7/HEYgdznXUtTs6SGrbtjP8k=:H4sIAAAAAAAAAJ2SvUoDQRDHJ4GAGAsRLKw1nW6CJI02RkEQggiHtrK3N15W9m4vu3PJ2Vj5EjY+gVjpE6Sw8x18ABsLKwvvI4If4Jl0u/Px//+GmdsXqI2asHEQephsEQaR4oSsj9xDwyxyI/quTk5bjLjxkYZcxWgNdLTxGY+46GOaidCSuegwoQ0q6TKXW2RdNw1yQfsSlbfmIMVR43hcf15+fK9CpQd1oUMyWh3yAAmWeud8yJuKh37TISNDfzuJCOqF7UlmOwtnd1rOI6MFWuvEbiCtlToc33nts7ebpypAEo0YrJcjKBnICcEALgEI5vNQMcWUEplCbdSGzfImk40nBaXU39wXvyQKhpnkCpIGrJa3Dj6tK4N/NhTiLWDltZN3TKTDdMU7f65Y6CDSIYZkWb5T+r3ha+d15eH+aq8K1R7MCSXT6gMvA8quFBUGaSC70jyUXeVCgbCbI/z4fgBOWmxKUgMAAA==" name="t:formdata" type="hidden">
        </div>
            <label for="targetValue" class="hidden">Target Value</label>
            <input class="hidden targetValue" value="" id="targetValue" name="targetValue" type="text">
            <img id="targetValue_icon" class="t-error-icon" alt="" src="/client/assets/4.5.1/core/spacer.gif" style="display: none;">
            <label for="limitValue" class="hidden">Limit Value</label>
            <input class="hidden limitValue" value="" id="limitValue" name="limitValue" type="text">
            <img id="limitValue_icon" class="t-error-icon" alt="" src="/client/assets/4.5.1/core/spacer.gif" style="display: none;">
            <label for="restrictionValue" class="hidden">Restriction Value</label>
            <input class="hidden restrictionValue" value="" id="restrictionValue" name="restrictionValue" type="text">
            <img id="restrictionValue_icon" class="t-error-icon" alt="" src="/client/assets/4.5.1/core/spacer.gif" style="display: none;">
            <div id="dropDown" class="dropDownHidden"></div>
            <div class="normalSearchBoxDiv" id="searchField">
                <label for="q" class="hidden">Search For:</label>
                <input title="Search For:" accesskey="s" maxlength="256" tabindex="10" autocomplete="off" size="100" id="q" name="q" type="text" class="suggestFieldBlur">
                <img id="q_icon" class="t-error-icon" alt="" src="/client/assets/4.5.1/core/spacer.gif" style="display: none;"></div>
            <div id="buttonsWrapper">
                <input title="Search" value="Search" tabindex="11" class="button" id="searchButton" name="searchButton" type="submit">
            </div>
        </form>
    </div>
    <div id="searchBoxAdvancedLink">
        <a title="Advanced Search" tabindex="12" href="/client/en_US/mvlc/search/advanced?">Advanced Search</a>
    </div>
</div>