<body>
    <style>
        body{
            background-color: blue;
        }
    </style>
    <form action="/website_frontend/get_book/" method="get">
          {% csrf_token %}
          {% for field in form %}
                <div class="textBoxWrapper">
                    <div class="textBox">{{ field.label_tag }} {{ field }}</div>
                </div>
          {% endfor %}
          <script>
                function pending()
                {
                    document.getElementById("pending").innerHTML = "pending...";
                    document.body.style.cursor = "wait";
                }
          </script>
          <button type="submit" onclick="pending()">submit</button>
          <p id="pending"></p>
    </form>
</body>